<section id="banner">
  {% if section.settings.banner_heading != blank %}
    <p>{{ section.settings.banner_heading }}</p>
  {% endif %}

  {% if section.settings.banner_subheading != blank %}
    <a href="{{ section.settings.banner_subheading_url }}">{{ section.settings.banner_subheading }}</a>
  {% endif %}
</section>

<style>
  #banner {
     background-color: {{ section.settings.banner_background }};
     padding: {{ section.settings.banner_padding }}px;
  }
</style>

{% schema %}
{
  "name": "banner",
  "settings": [
    {
      "type": "color",
      "id": "banner_background",
      "label": "Pick Background",
      "default": "#f4F4F4"
    },
    {
      "type": "range",
      "max": 100,
      "min": 1,
      "step": 1,
      "label": "Banner Padding",
      "id": "banner_padding",
      "default": 1,
      "unit": "px"
    },
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Banner Heading",
      "default": "Heading is here"
    },
    {
      "type": "text",
      "id": "banner_subheading",
      "label": "Banner Sub-Heading",
      "default": "Hyperlink text is here"
    },
    {
      "type": "url",
      "id": "banner_subheading_url",
      "label": "Banner Sub-Heading Link",
      "default": "/"
    }
  ],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}
