<header id="header">
  <div class="header-left-section">
    {% if section.settings.logo != blank %}
      <img width="50" height="50" src="{{ section.settings.logo | image_url }}">
    {% else %}
      <img width="50" height="50" src="{{ "gpu.png" | asset_url}}">
    {% endif %}
  </div>

  <!-- middle nav items -->
  <nav class="header-middle-section">
    <ul class="menus">
      {% for link in linklists['main-menu'].links %}
        <li class="menu-items">
          <a class="menu-item" href="{{ link.url }}">{{ link.title }}</a>

          {% comment %} Dropdown menus {% endcomment %}
          {% if link.links.size > 0 %}
            <ul class="dropdown-menu">
              {% for sublink in link.links %}
                <li class="dropdown-items">
                  <a class="dropdown-item" href="{{ sublink.url }}">{{ sublink.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

  <!-- right nav items -->
  <div class="header-right-section">
    <form action="/search">
      <input placeholder="Search" type="search" class="search-bar">
    </form>

    <a href="/" class="cart_button">
      {% if section.settings.cart_icon != blank %}
        <img width="40" height="40" src="{{ section.settings.cart_icon | image_url: width: 40, height: 40 }}">
      {% else %}
        <img width="40" height="40" src="{{ 'd.png' | asset_url }}">
      {% endif %}
    </a>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Pick Logo"
    },
    {
      "type": "image_picker",
      "id": "cart_icon",
      "label": "Pick Cart Icon"
    }
  ],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}
